* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: azure;
    font-family: 'Oleo Script', cursive;
    text-align: center;
    font-size: 80px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

body {
    background-image: url(photographer.jpg);
    font-family: 'Oleo Script', cursive;
}

form {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 40px;
}

#select-color,
button,
input[type="text"]::placeholder {
    font-family: 'Oleo Script', cursive;

}

input,
#select-color,
button {
    height: 50px;
    font-size: 30px;
    margin: 10px;
}

/* #photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    margin: 0%;
}

#photo img {
    width: 100%;
    margin: 20px;
} */

#photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#photo img {
    width: 30%;
    height: auto;
    margin: 20px;
}

#prev,
#next {
    display: flex;
    align-content: center;
    position: fixed;
    bottom: 0;
}

#prev {
    left: 40%;
}

#next {
    right: 40%;
}

/* @media (max-width: 600px) {
    h1 {
        display: flex;
        flex-direction: column
    }
} */

@media (max-width: 650px) {

    form,
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input,
    #select-color,
    button {
        width: 100%;
        margin: 10px 0;
    }

    #photo{
        display: flex;
        flex-direction: column;
    }

    #prev {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #next {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}